@font-face {
  font-family: "iconfont"; /* Project id 3554754 */
  src: url('iconfont.woff2?t=1659075956965') format('woff2'),
       url('iconfont.woff?t=1659075956965') format('woff'),
       url('iconfont.ttf?t=1659075956965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emichenggong:before {
  content: "\e63d";
}

.icon-tianjiachenggong:before {
  content: "\e65e";
}

.icon-chenggong:before {
  content: "\e615";
}

.icon-biaoqian:before {
  content: "\e60d";
}

.icon-24gf-tags3:before {
  content: "\e886";
}

.icon-watuji-wajueji-chanche:before {
  content: "\e704";
}

